.sign-up {
  margin: auto;
  width: 50%;
  padding: 1rem;
}

.sign-up h1 {
  text-align: center;
}

.form-signup {
  width: 50%;
  margin: auto;
}

.to-login {
  padding: 1rem;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .form-signup {
    width: 100%;
  }
  .sign-up {
    width: 85%
  }
}